body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(2.jpg);
    background-size: cover;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(115, 106, 123);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
}
.clock {
    display: flex;
}
.clock div {
    margin: 5px;
    position: relative;
}
.clock span {
    width: 100px ;
    height: 80px ;
    background: rgb(149, 245, 172);
    opacity: 0.6;
    color: rgb(202, 176, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(110, 8, 119);
    font-family: sans-serif;
}
.clock .text {
    height: 30px ;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(90, 77, 148);
    opacity: 0.8;

}
.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(123, 123, 106);
}